html {
	background-color: #1a8cff;
	font-size: 10pt;
}

label {
	display: block;
	color: black;
}

.cf:before, .cf:after {
	content: "";
	display: table-column-group;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

:focus {
	outline: 0;
}

.loginform {
	width: 500px;
	height: 337px;
	margin: 50px auto;
	padding: 25px;
	background-color: rgba(250, 250, 250, 0.5);
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px
		rgba(250, 250, 250, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.3);
	background-image:
		url("../media/images/baby-shower-orange.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	text-align: left;
	background-position: center;
	margin: 100px auto;
}

.loginform form {
	margin: 30px auto;
}

.loginform ul {
	padding: 0;
	margin: 20;
}

.loginform li {
	padding-top: 0px;
	padding-left: 50px;
	vertical-align:top;
	margin: 5px;
	display: block;
	
}
.loginform div{
	padding: 40px;
	margin-left: 25px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	
	text-align: center;
}

.loginform table{
	
	padding: 20px;
	margin: 10px;
	vertical-align: center;
	
}

.loginform tr{
	
	padding: 20px;
	margin: 10px;
	vertical-align: center;
	
}
.loginform td{
	padding: 5px;
	margin: 5px;
	vertical-align:center;
}

.loginform th{
	padding: 5px;
	margin: 5px;
	text-align:Center;
	font-size: 200%
}


.loginform input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top, #64c8ef 0%, #00a2e2 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #64c8ef),
		color-stop(100%, #00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #64c8ef 0%, #00a2e2 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #64c8ef 0%, #00a2e2 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #64c8ef 0%, #00a2e2 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #64c8ef 0%, #00a2e2 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef',
		endColorstr='#00a2e2', GradientType=0); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.loginform input[type=button] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #e60000; /* Old browsers */
	background: -moz-linear-gradient(top, #64c8ef 0%, #e60000 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e60000),
		color-stop(100%, #e60000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e60000 0%, #e60000 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #64c8ef 0%, #00a2e2 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #64c8ef 0%, #00a2e2 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #e60000 0%, #e60000 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef',
		endColorstr='#00a2e2', GradientType=0); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

footer {
	width: 410px;
	margin: 50px auto;
	background-color: rgba(250, 250, 250, 0.5);
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px
		rgba(250, 250, 250, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.3);
	text-align: center;
}

#templates_container img{
	display: inline-table;
	width: 110px;
	padding-right: 10px;
	padding-top: 10px;
	
}
#templates_container{
	margin-top: 50px;
}

#template_section{
	border-left: 1px;
	border-right: 1px;
	border-style: solid;
	border-color: black;
	
	
}